.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: 'Inter', sans-serif;
}

.profile-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

/* IMAGE */
.image-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* INFO */
.info-section h2 {
  margin: 15px 0 5px;
}

.role {
  color: #3b82f6;
  font-weight: 600;
  margin-bottom: 15px;
}

.detail {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #64748b;
  margin-top: 10px;
}

/* BUTTON */
.logout-btn {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}