<div class="review-container">

  <button class="back-btn" (click)="goBack()">← Back</button>

  <h2>Attempt Review</h2>

  <div *ngIf="loading">Loading review...</div>

  <div *ngIf="!loading">

    <div *ngFor="let q of review; let i = index" class="review-card">

      <h3>
        Q{{ i + 1 }}. {{ q.question }}
      </h3>

      <div
        *ngFor="let opt of q.options"
        class="option"
        [ngClass]="{
          'correct': opt.correct,
          'wrong': opt.id === q.selectedOptionId && !opt.correct
        }">

        {{ opt.text }}

        <span *ngIf="opt.correct">✔</span>
        <span *ngIf="opt.id === q.selectedOptionId && !opt.correct">✘</span>

      </div>

    </div>

  </div>

</div>